@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    border: 0;
    appearance: none;
    text-decoration: none;
}
html{
    font-size: 14px;
}
body{
    width: 100vw;
    height: 100vh;
    font-family: sans-serif;
    font-size: 0.88rem;
    background: whitesmoke;
    user-select: none;
    overflow-x: hidden;
}

.container{
    display: grid;
    width: 100%;
    margin: 0 auto;
    grid-template-columns: auto 75%;
}

a{
    color: #363949;
}
img{
    display: block;
    width: 100%;
}
main{
    margin-top: 1.4rem;
    margin-right: 1.4rem;
    width: auto;
    margin-left: 20px;
    opacity: .80;
    position: relative;
}

main .class{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    margin-top: 40px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    width: 30%;
    height: 40%;
    position: relative;
}
main .class .class-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
main .class .image{
    position:absolute;
    top: -47px;
    height: 100px;
    width: 100px;
}
main .class .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #34C3AE;
}

main .class .class-content .join-class{

    background-color: #04B69C;
    padding: 10px;
    border-radius: 4px;
    width: 100%;
    text-align: center;
    color: white;
    cursor: pointer;
}
main .class .class-content .join-class:hover{
    background-color: #363949;
}
main .class .class-content .join-class h3{

    color: white;
}
.class-info{
    margin-top: 60px;
}

.class-info h2{

    margin-bottom: 8px;
}


.majhe{

    margin-bottom: 8px;
}
.dure{

    margin-bottom: 3rem;
}


.add-class{
    position: absolute;
    top: 90%;
    left: 90%;
    background-color: #04B69C;
    padding: 10px;
    border-radius: 4px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    cursor: pointer;
}

.add-class:hover{
    background-color: #363949;
    color: white;
}

.add-class-popup{
    position: absolute;
    top: 50%;
    left : 40%;
    background-color: white;
    padding: 2rem;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    display:none;
}

.input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
}
label{
    margin-right: 10px;
    color: #171717;
}

.field{
    padding: .5rem;
    border-radius: 8px;
    border: 1px solid #363949;
    opacity: .70;
}

.button{

    padding: .5rem;
    margin-left: 10px;
    border-radius: 4px;
    background-color: #04B69C;
    color: white;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.button:hover{
    background-color: #363949;
    color: white;
}
.cancel{
    background-color: #FF2E2E;
    color: white;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 1rem;
}

.right{
    background-color: #171717;
    height: 100vh;
    color : white;
    opacity: .80;
}
.right .top .profile img{
    width: 6rem;
    height: 6rem;
    border-radius: 3rem;
    margin: 1rem;
    border: 2px solid #04B69C;
}
.right .top{
    display: flex;
    align-items: center;
    color : white;
}

.right .right-sidebar h2{
    text-align: center;
    background-color: #04B69C;
    padding: 5px;
    color: white;
    border-radius: 4px;
}

.right .right-sidebar .todo{
    width: auto;
    padding: 1rem;
}
.right .right-sidebar .topic{
    width: auto;
    padding: 2rem;
}

.right .right-sidebar .schedule{
    height: 10vh;
    width: auto;
    padding: 1.5rem;
    background-color: white;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 10px;
    display: flex;
}
.right .right-sidebar .schedule h3{
    margin-right: 5px;
    color: white;
}
.right .right-sidebar .schedule .date{
    padding: 4px;
    background-color: #04B69C;
    border-radius: 4px;
    color: white;
}
.right .right-sidebar .schedule .month{
    padding: 4px;
    background-color: none;
    border-radius: 4px;
    background-color: #FFC0CB;
}
.right .right-sidebar .schedule .year{
    padding: 4px;
    background-color: none;
    border-radius: 4px;
    background-color:#6495ED;
}
.right .right-sidebar .schedule .class-name{
    margin-left: 4px;
    display: flex;
    align-items: center;
}
h2, h1, p, h3, h4{
    color: #363949;
}

.right .buttom .profile img{
    width: 4rem;
    height: 4rem;
    border-radius: .67rem;
    margin: 1rem;
}
.right .buttom{
    display: flex;
    justify-content: left;
    align-items: center;
}

.right .right-sidebar ol li {
    list-style-type: none;
    counter-increment: item;
    margin: 5px;
    color: wheat;
  }
  
.right .right-sidebar ol li:before {
    content: counter(item);
    margin-right: 7px;
    font-size: 80%;
    background-color: #6495ED;
    color: white;
    font-weight: bold;
    padding: 3px 8px;
    border-radius: 5px;
  }

  .buttom .logout a{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .buttom {
    background-color:#04B69C; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 4px;
  }

  p{
    color : whitesmoke;
    opacity: .80;
  }

  .smile-face{
    margin: 5px;
  }
